.products {
    margin-bottom: 30px;
    text-align: center;
}

.products h2 {
    font-family: 'Cinzel', serif;
    color: #545454;
    font-size: 32px;
}

.products .product-container{
    margin: 0 40px;
    position: relative;
    z-index: 1; /* Mantém o z-index do container */
}

/* Mobile styles */
@media (max-width: 768px) {
    .products h2 {
    font-size: 22px;
    }

    .products .product-container{
        margin: 0 10px;
    }
}