.products {
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%;
}

.products h2 {
    font-family: 'Cinzel', serif;
    color: #545454;
    font-size: 32px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .products h2 {
    font-size: 22px;
    }

    .products .product-container{
        margin: 0 10px;
    }
}