@import '../../variables.css';

.menu {
    padding: var(--medium-space);
    background-color: var(--primary-color);
}

.top {
    position: sticky;
    top: 0px;
    z-index: 10;
}

.hidden.top {
    transform: translateY(-100%);
}

.menu .items-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .items-menu img {
    width: 40px;
    height: 40px;
}

.menu .items-menu:hover {
    cursor: pointer;
}

.menu .nav-itens ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: var(--medium-space);
}

.menu .nav-itens ul .active {
    background-color: var(--background-second);
    border-radius: 3px;
    padding: 5px 10px;
}

.menu .nav-itens ul li {
    font-size: var(--font-size-sub-title-mobile);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.menu .nav-itens ul li:hover {
    cursor: pointer;
}

.menu .contact:hover {
    cursor: pointer;
}

.menu .contact a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--small-space);
}

.menu .contact .whatsapp-icon {
    font-size: 24px;
    color: green;
}

.menu .contact p {
    margin: 0;
    font-size: var(--font-size-sub-title-mobile);
    color: #ffffff;
}

.menu .exit {
    color: #ffffff;
}

.menu .hamburguer {
    color: #ffffff;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle svg {
    font-size: 24px;
    color: #ffffff;
}

/* Mobile styles */
@media (max-width: 768px) {
    .menu .nav-itens {
        display: none;
        flex-direction: column;
        position: absolute;
        top: var(--max-large-space);
        right: 0;
        width: 100%;
        background-color: var(--primary-color);
        padding: var(--medium-space);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        align-items: flex-end;
    }

    .menu .nav-itens.open {
        display: block;
        max-height: max-content;
        right: 0;
        top: 65px;
        width: 100%;
    }

    .menu .nav-itens ul {
        background-color: none;
        display: flex;
        width: 100%;
        align-items: flex-end;
        flex-direction: column;
        gap: var(--max-small-space);
    }

    .menu .nav-itens ul li {
        text-align: right;
        font-size: var(--font-size-content-mobile) !important;
        padding: 10px 0px;
    }

    .menu .contact .whatsapp-icon {
        font-size: var(--medium-space);
    }

    .menu .contact p {
        font-size: var(--font-size-content-mobile);
    }

    .menu-toggle {
        display: block;
    }
}