.read-more-btn {
    justify-content: space-around;
    padding: 10px !important;
    font-family: var(--font-family-primary);
    font-weight: bold;
}

/* Mobile styles */
@media (max-width: 768px) {
    .read-more-btn {
        font-size: var(--font-size-content-mobile);
    }
}
