.read-more-btn button {
    width: 150px;
    justify-content: space-around;
    padding: 10px !important;
    /* background: #545454 !important; */
}

/* Mobile styles */
@media (max-width: 768px) {
    .read-more-btn button {
        font-size: 15px;
    }
}
