.about {
    background-color: var(--background);
    width: 100%;
    margin-bottom: var(--large-space);

}


.about .about-container {
    max-width: 1140px;
    margin: 0 auto;
}

.about .infos {
    display: flex;
    padding-top: var(--large-space);
    padding: 20px 50px;
}




.about .infos .video {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about .infos .video iframe {
    width: 300px;
    height: 450px;
}




.about .infos .text {
    font-family: var(--font-family-primary);
    flex: 1;
}




.about .infos .text h2 {
    font-size: var(--font-size-title);
    margin: 0;
}




.about .infos .text h3 {
    font-size: var(--font-size-sub-title);
    margin: 0;
}




.about .infos .text h2,
h3 {
    font-weight: var(--font-bold);
    color: var(--primary-color);
}




.about .infos .text p {
    color: var(--text-color);
    font-size: var(--font-size-content);
}


/* Mobile styles */
@media (max-width: 768px) {


    .about {
        width: 100%;
    }


    .about .infos {
        display: block;
        align-items: center;
    }

    .about .infos .video{
        margin-bottom: var(--large-space);
    }

    .about .infos .video iframe {
        width: 250px;
        height: 400px;
    }
    


    .about .infos .text {
        text-align: center;
    }


    .about .infos .text p {
        margin: 0 auto;
        font-size: var(--font-size-content-mobile);
        white-space: normal;
        overflow-wrap: break-word;
        word-break: break-word;
    }


    .about .infos .text h2 {
        font-size: var(--font-size-title-mobile);
    }


    .about .infos .text h3 {
        margin-bottom: var(--large-space);
        font-size: var(--font-size-sub-title-mobile);
    }




}