.approach{
    width: 100%;
    margin-bottom: var(--large-space);
}

.approach .approach-container{
    padding: var(--large-space);
}

.approach .approach-container .title{
    font-family: var(--font-family-primary);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--large-space);
}

.approach .approach-container .title img{
    position: absolute;
    z-index: 1;
    width: 300px;
}

.approach .approach-container .title .strikethrough{
    position: relative;
    z-index: 2;
    font-size: var(--font-size-title);
}

.approach .approach-container .about-information{
    font-family: var(--font-family-primary);
    font-weight: var(--font-lighter);
    color: var(--text-color);
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.approach .approach-container .about-information p{
font-size: var(--font-size-sub-title);
}

/* Mobile styles */
@media (max-width: 768px) {
    .approach {
        margin-bottom: 0;
    }

    .approach .approach-container .title img{
        width: 260px;
    }

   
    .approach .approach-container .title .strikethrough{
        font-size: var( --font-size-carousel-title);
    }

    .approach .approach-container .about-information p{
        font-size: var(--font-size-sub-title-mobile);
    }
}