.banner {
    background-color: var( --background);
    padding: var(--large-space);
    margin-bottom: var(--large-space);
    font-family: var(--font-family-primary);
    color: var(--text-color);
}

.banner .information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--small-space);
}

.banner .information .text {
    margin-left: 100px;
}

.banner .information .text h1 {
    font-size: var(--font-size-title);
    font-weight: var(--font-lighter);
}

.banner .information .text h2 {
    font-size: var(--font-size-sub-title);
    font-weight: var(--font-bold);
}

.banner .information .text p {
    font-size:var(--font-size-content);
    font-weight: var(--font-lighter);
}

.banner .information .text,
.banner .information .image {
    flex: 1;
}

.banner .information .image {
    display: flex;
    justify-content: center;
}

.banner .information .image img {
    max-width: 100%;
    height: auto;
}

.banner .button-container {
    display: flex;
    justify-content: left; 
}

/* Mobile styles */
@media (max-width: 768px) {
    .banner .information {
        flex-direction: column;
        text-align: center; 
    }

    .banner .information .text {
        margin-left: 0; 
        margin: 0 10px 20px;
    }

    .banner .information .text h1{
        font-size: var(--font-size-title-mobile);
    }

    .banner .information .text h2{
        font-size: var(--font-size-sub-title-mobile);
    }

    .banner .information .text p{
        font-size:var(--font-size-content-mobile);
    }

    .banner .information .image{
        width: 200px;
        height: 200px;
        order: -1;
    }

    .banner .button-container {
        margin-top: var(--large-space); 
        justify-content: center; 
    }
}
