.sitemap {
    margin-bottom: 30px;
    width: 100%;
}

.sitemap .sitemap-container {
    padding: 20px;
}

.sitemap .sitemap-container h2 {
    text-align: center;
    font-size: 32px;
    font-family: 'Cinzel', serif;
    color: #545454;
}

.sitemap .sitemap-container .social {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.sitemap .sitemap-container .social .social-midia {
    width: 100%;
}

.sitemap .sitemap-container .social .social-midia li {
    list-style: none;
    flex: 1;
    display: flex;
}

.sitemap .sitemap-container .social .social-midia li a {
    text-decoration: none;
    color: #545454;
    font-size: 16px;
    font-family: 'Cinzel', serif;
    display: flex;
}

.sitemap .sitemap-container .social .social-midia li a svg {
    background-color: #FF5E64;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.sitemap .sitemap-container .social .map {
    flex: 1;
    padding-right: 30px;
}

.sitemap .sitemap-container .social .map iframe {

    width: 500px;
}

.sitemap .sitemap-container .utils {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.sitemap .sitemap-container .utils h3 {
    text-align: center;
    font-size: 28px;
    font-family: 'Cinzel', serif;
    color: #545454;
}

.sitemap .sitemap-container .utils li {
    list-style: none;
    font-size: 16x;
    font-family: 'Cinzel', serif;
    color: #545454;
}

.sitemap .sitemap-container .utils li:first-child {
    margin-top: 0;
}

.sitemap .sitemap-container .utils li a {
    text-decoration: none;
    color: #545454;
    font-size: 16px;
    font-family: 'Cinzel', serif;
}

.sitemap .sitemap-container .utils li svg {
    color: #FF5E64;
    margin-right: 10px;
}

.sitemap .sitemap-container .utils .contact-number li {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.sitemap .sitemap-container .utils .service .bold {
    font-weight: bold;
    font-family: 'Cinzel', serif;
    color: #545454;
}

.sitemap .sitemap-container .utils .service p {
    text-align: center;
}

.sitemap .sitemap-container .utils .links ul {
    text-align: center;
    padding: 0;
}

.sitemap .sitemap-container .utils .links li {
    margin-top: 10px;
}

.sitemap .sitemap-container .utils .links li:first-child {
    margin-top: 0;
}

.sitemap .sitemap-container .utils .location {
    font-weight: bold;
    font-family: 'Cinzel', serif;
    color: #545454;
    font-size: 20px;
}

.sitemap .sitemap-container .utils .location p {
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 14px;

}


/* Mobile styles */
@media (max-width: 768px) {
    .sitemap .sitemap-container .social {
        display: grid;
    }

    .sitemap .sitemap-container .social .social-midia li {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .sitemap .sitemap-container ul {
        padding: 0;
    }

    .sitemap .sitemap-container li {
        justify-content: center;
    }

    .sitemap .sitemap-container .utils li {
        font-size: 14px;
    }

    .sitemap .sitemap-container .utils li a {
        font-size: 14px;
    }

    .sitemap .sitemap-container .social .social-midia li a {
        font-size: 14px;
    }

    .sitemap .sitemap-container li a {
        font-size: 14px;
    }

    .sitemap .sitemap-container .social .social-midia {
        display: flex;
        justify-content: center;
    }

    .sitemap .sitemap-container .social .social-midia li {
        display: block;
    }

    .sitemap .sitemap-container .social .map {
        padding: 0;
        margin: 0 auto;
    }

    .sitemap .sitemap-container .social .map iframe {
        width: 250px;
        height: 250px;
    }

    .sitemap .sitemap-container .service p {
        font-size: 14px;
    }


    .sitemap .sitemap-container .utils {
        display: grid;
        justify-content: center;
    }

    .sitemap .sitemap-container .utils h3 {
        font-size: 22px;
    }

    .sitemap .sitemap-container .utils .contact-number li {
        display: block;
        padding-left: 60px;
    }

    .sitemap .sitemap-container .utils .links {
        text-align: center;
    }

    .sitemap .sitemap-container .utils .location {
        text-align: center;
        font-size: 14px;
    }

}